.portfolio__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  /* height: 25rem; */
}

.portfolio__item-image img {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.portfolio__project-title {
  display: block;
  margin: 1.2rem 0 0rem;
  font-size: 1.3rem;
  color: var(--color-white);
}

.portfolio__project-stack {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 1rem;
  color: var(--color-light);
}

.portfolio__item .cta {
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
}

/* ===============MEDIA QUERIES (MEDIUMS DEVICES)================== */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

/* ===============MEDIA QUERIES (MEDIUMS DEVICES)================== */

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .portfolio__item {
    padding: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .portfolio__item {
    padding: 0.7rem;
  }
}

@media screen and (max-width: 270px) {
  .portfolio__container {
    font-size: 60%;
  }
}
