#experience {
  min-height: 100vh;
}

.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__card {
  background: var(--color-bg-variant);
  border-radius: 2rem;

  padding: 2rem;
  border: solid 1px transparent;
  transition: var(--transition);
}

.experience__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.experience__card h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.experience__details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem;
  font-size: 1.3rem;
}

/* ===============MEDIA QUERIES (MEDIUMS DEVICES)================== */

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__card {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
  }

  .experience__content {
    padding: 1rem;
  }
}

/* ===============MEDIA QUERIES (MEDIUMS DEVICES)================== */

@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }
  .experience__card {
    width: 100%;
    padding: 2rem 0.5rem;
  }

  .experience__details {
    font-size: 1rem;
  }
}

/* ===============MEDIA QUERIES (Very small DEVICES)================== */

@media screen and (max-width: 300px) {
  .experience__content {
    display: grid;
    grid-template-columns: 1fr;
  }
}
